{
    "plugins": ["@prettier/plugin-php"],
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": "*.php",
            "options": {
                "parser": "php",
                "phpVersion": "8.5"
            }
        }
    ]
}
